/wandb
/__pychache__
/.vscode
/activation_models/__pychache__
/activations_dataset
/datasets
/output
/pre_trained_models
/source_dataset_training/__pychache__
utils/__pychache__
/attnsub_environment2.yml
dataset_creator.py
garbage.py
main_old.py
model.py
utils/__pycache__/activations.cpython-38.pyc
utils/__pycache__/activations.cpython-312.pyc
utils/__pycache__/arguments.cpython-38.pyc
utils/__pycache__/arguments.cpython-312.pyc
utils/__pycache__/experiments.cpython-38.pyc
utils/__pycache__/experiments.cpython-312.pyc
utils/__pycache__/my_logging.cpython-38.pyc
utils/__pycache__/output_saver.cpython-38.pyc
utils/__pycache__/rc_curve.cpython-38.pyc
utils/__pycache__/rc_curve.cpython-312.pyc
utils/__pycache__/training.cpython-38.pyc
utils/__pycache__/webiases.cpython-38.pyc
source_dataset_training/__pycache__/data.cpython-38.pyc
source_dataset_training/__pycache__/models.cpython-38.pyc
source_dataset_training/__pycache__/resnet.cpython-38.pyc
source_dataset_training/__pycache__/source_dataset_main.cpython-38.pyc
source_dataset_training/__pycache__/training.cpython-38.pyc
