/wandb
/__pychache__
/.vscode
/activation_models/__pychache__
/activations_dataset
/datasets
/output
/pre_trained_models
/source_dataset_training/__pychache__
utils/__pychache__
/attnsub_environment2.yml
dataset_creator.py
garbage.py
main_old.py
model.py
utils/__pycache__/activations.cpython-38.pyc
utils/__pycache__/activations.cpython-312.pyc
utils/__pycache__/arguments.cpython-38.pyc
utils/__pycache__/arguments.cpython-312.pyc
utils/__pycache__/experiments.cpython-38.pyc
utils/__pycache__/experiments.cpython-312.pyc
utils/__pycache__/my_logging.cpython-38.pyc
utils/__pycache__/output_saver.cpython-38.pyc
utils/__pycache__/rc_curve.cpython-38.pyc
utils/__pycache__/rc_curve.cpython-312.pyc
utils/__pycache__/training.cpython-38.pyc
utils/__pycache__/webiases.cpython-38.pyc
source_dataset_training/__pycache__/data.cpython-38.pyc
source_dataset_training/__pycache__/models.cpython-38.pyc
source_dataset_training/__pycache__/resnet.cpython-38.pyc
source_dataset_training/__pycache__/source_dataset_main.cpython-38.pyc
source_dataset_training/__pycache__/training.cpython-38.pyc
__pycache__/dataset_creator.cpython-38.pyc
__pycache__/model.cpython-38.pyc
activation_models/__pycache__/models.cpython-38.pyc
main_old.py
dataset_creator.py
xxx.png
yyy.png
zinc-model.pt
experiments/ImageNet_activations__.pt
experiments/ImageNet_activations_10000.pt
experiments/ImageNet_activations.pt
experiments/ImageNet_correctness_labels__.pt
experiments/ImageNet_correctness_labels_10000.pt
experiments/ImageNet_correctness_labels.pt
experiments/__pycache__/Cifar10_exp_conv_cat.cpython-39.pyc
experiments/__pycache__/ImageNet_exp_conv_cat.cpython-39.pyc
outputs/Cifar10/6844284422/metrics.json
outputs/ImageNet/coverage_vs_selective_risk.pdf
outputs/ImageNet/0075701895/metrics.json
outputs/ImageNet/0083408698/metrics.json
outputs/ImageNet/0084281907/metrics.json
outputs/ImageNet/0115609760/metrics.json
outputs/ImageNet/0152170574/metrics.json
outputs/ImageNet/0157139302/metrics.json
outputs/ImageNet/0157511265/metrics.json
outputs/ImageNet/0246553555/metrics.json
outputs/ImageNet/0373082405/metrics.json
outputs/ImageNet/0425198379/metrics.json
outputs/ImageNet/0481382895/metrics.json
outputs/ImageNet/0484191035/metrics.json
outputs/ImageNet/0552983415/metrics.json
outputs/ImageNet/0604828178/metrics.json
outputs/ImageNet/0611480950/metrics.json
outputs/ImageNet/0619839422/metrics.json
outputs/ImageNet/0642191075/metrics.json
outputs/ImageNet/0667772133/metrics.json
outputs/ImageNet/0679193691/metrics.json
outputs/ImageNet/0707858957/metrics.json
outputs/ImageNet/0727166614/metrics.json
outputs/ImageNet/0733687247/metrics.json
outputs/ImageNet/0759423564/metrics.json
outputs/ImageNet/0866070950/metrics.json
outputs/ImageNet/0873408315/metrics.json
outputs/ImageNet/0886927816/metrics.json
outputs/ImageNet/0901951137/metrics.json
outputs/ImageNet/0951478152/metrics.json
outputs/ImageNet/0961131000/metrics.json
outputs/ImageNet/0975703352/metrics.json
outputs/ImageNet/0984510236/metrics.json
outputs/ImageNet/0996626404/metrics.json
outputs/ImageNet/1042142163/metrics.json
outputs/ImageNet/1069710300/metrics.json
outputs/ImageNet/1074051490/metrics.json
outputs/ImageNet/1082733541/metrics.json
outputs/ImageNet/1102196400/metrics.json
outputs/ImageNet/1106849070/metrics.json
outputs/ImageNet/1129248426/metrics.json
outputs/ImageNet/1134248417/metrics.json
outputs/ImageNet/1186837023/metrics.json
outputs/ImageNet/1205039243/metrics.json
outputs/ImageNet/1284919311/metrics.json
outputs/ImageNet/1293429267/metrics.json
outputs/ImageNet/1310513045/metrics.json
outputs/ImageNet/1343309516/metrics.json
outputs/ImageNet/1377775890/metrics.json
outputs/ImageNet/1382685454/metrics.json
outputs/ImageNet/1395143130/metrics.json
outputs/ImageNet/1428569743/metrics.json
outputs/ImageNet/1436924491/metrics.json
outputs/ImageNet/1441656963/metrics.json
outputs/ImageNet/1502694441/metrics.json
outputs/ImageNet/1509983294/metrics.json
outputs/ImageNet/1550097867/metrics.json
outputs/ImageNet/1619298113/metrics.json
outputs/ImageNet/1677001571/metrics.json
outputs/ImageNet/1755468595/metrics.json
outputs/ImageNet/1782437365/metrics.json
outputs/ImageNet/1816104686/metrics.json
outputs/ImageNet/1823540549/metrics.json
outputs/ImageNet/1834394409/metrics.json
outputs/ImageNet/1871823052/metrics.json
outputs/ImageNet/1898451624/metrics.json
outputs/ImageNet/1937489520/metrics.json
outputs/ImageNet/1974215728/metrics.json
outputs/ImageNet/2069005417/metrics.json
outputs/ImageNet/2100252916/metrics.json
outputs/ImageNet/2177755910/metrics.json
outputs/ImageNet/2273642700/metrics.json
outputs/ImageNet/2277499577/metrics.json
outputs/ImageNet/2315065937/metrics.json
outputs/ImageNet/2402889756/metrics.json
outputs/ImageNet/2434661794/metrics.json
outputs/ImageNet/2517451695/metrics.json
outputs/ImageNet/2546510468/metrics.json
outputs/ImageNet/2675459644/metrics.json
outputs/ImageNet/2727230931/metrics.json
outputs/ImageNet/2735583905/metrics.json
outputs/ImageNet/2751806447/metrics.json
outputs/ImageNet/2805668605/metrics.json
outputs/ImageNet/2975459465/metrics.json
outputs/ImageNet/3035546646/metrics.json
outputs/ImageNet/3125849308/metrics.json
outputs/ImageNet/3201866139/metrics.json
outputs/ImageNet/3278221723/metrics.json
outputs/ImageNet/3285573622/metrics.json
outputs/ImageNet/3409116547/metrics.json
outputs/ImageNet/3452603545/metrics.json
outputs/ImageNet/3495559492/metrics.json
outputs/ImageNet/3573443915/metrics.json
outputs/ImageNet/3696997430/metrics.json
outputs/ImageNet/3700991490/metrics.json
outputs/ImageNet/3760560644/metrics.json
outputs/ImageNet/3790374909/metrics.json
outputs/ImageNet/3797604691/metrics.json
outputs/ImageNet/3887144616/metrics.json
outputs/ImageNet/4035604960/metrics.json
outputs/ImageNet/4079769692/metrics.json
outputs/ImageNet/4085895316/metrics.json
outputs/ImageNet/4115289422/metrics.json
outputs/ImageNet/4150788673/metrics.json
outputs/ImageNet/4152097768/metrics.json
outputs/ImageNet/4167192998/metrics.json
outputs/ImageNet/4198169206/metrics.json
outputs/ImageNet/4202400941/metrics.json
outputs/ImageNet/4333915460/metrics.json
outputs/ImageNet/4343043654/metrics.json
outputs/ImageNet/4365944136/metrics.json
outputs/ImageNet/4490843301/metrics.json
outputs/ImageNet/4508003070/metrics.json
outputs/ImageNet/4575453705/metrics.json
outputs/ImageNet/4583562721/metrics.json
outputs/ImageNet/4587667919/metrics.json
outputs/ImageNet/4721464528/metrics.json
outputs/ImageNet/4758920781/metrics.json
outputs/ImageNet/4763652777/metrics.json
outputs/ImageNet/4806889175/metrics.json
outputs/ImageNet/4808647265/metrics.json
outputs/ImageNet/4848348884/metrics.json
outputs/ImageNet/4917594410/metrics.json
outputs/ImageNet/4977398220/metrics.json
outputs/ImageNet/5130854269/metrics.json
outputs/ImageNet/5177245915/metrics.json
outputs/ImageNet/5189452415/metrics.json
outputs/ImageNet/5310446013/metrics.json
outputs/ImageNet/5330232871/metrics.json
outputs/ImageNet/5357251195/metrics.json
outputs/ImageNet/5543076017/metrics.json
outputs/ImageNet/5558657297/metrics.json
outputs/ImageNet/5571434760/metrics.json
outputs/ImageNet/5602819650/metrics.json
outputs/ImageNet/5604992540/metrics.json
outputs/ImageNet/5696018008/metrics.json
outputs/ImageNet/5712274907/metrics.json
outputs/ImageNet/5720202542/metrics.json
outputs/ImageNet/5725088623/metrics.json
outputs/ImageNet/5775660242/metrics.json
outputs/ImageNet/5812885276/metrics.json
outputs/ImageNet/5825242081/metrics.json
outputs/ImageNet/5881201491/metrics.json
outputs/ImageNet/5893831641/metrics.json
outputs/ImageNet/5961186393/metrics.json
outputs/ImageNet/6041433955/metrics.json
outputs/ImageNet/6102618024/metrics.json
outputs/ImageNet/6107854159/metrics.json
outputs/ImageNet/6173930112/metrics.json
outputs/ImageNet/6197444594/metrics.json
outputs/ImageNet/6245403416/metrics.json
outputs/ImageNet/6266873424/metrics.json
outputs/ImageNet/6444972562/metrics.json
outputs/ImageNet/6521802856/metrics.json
outputs/ImageNet/6575571973/metrics.json
outputs/ImageNet/6645554106/metrics.json
outputs/ImageNet/6750957569/metrics.json
outputs/ImageNet/6754209116/metrics.json
outputs/ImageNet/6855657031/metrics.json
outputs/ImageNet/6879670994/metrics.json
outputs/ImageNet/6898315862/metrics.json
outputs/ImageNet/6963960656/metrics.json
outputs/ImageNet/6992754297/metrics.json
outputs/ImageNet/7043422526/metrics.json
outputs/ImageNet/7058446645/metrics.json
outputs/ImageNet/7066522386/metrics.json
outputs/ImageNet/7096479986/metrics.json
outputs/ImageNet/7244376512/metrics.json
outputs/ImageNet/7259115293/metrics.json
outputs/ImageNet/7381031552/metrics.json
outputs/ImageNet/7424663389/metrics.json
outputs/ImageNet/7483727803/metrics.json
outputs/ImageNet/7484349362/metrics.json
outputs/ImageNet/7505523467/metrics.json
outputs/ImageNet/7592752714/metrics.json
outputs/ImageNet/7638101074/metrics.json
outputs/ImageNet/7643927205/metrics.json
outputs/ImageNet/7726598167/metrics.json
outputs/ImageNet/7730277948/metrics.json
outputs/ImageNet/7738892945/metrics.json
outputs/ImageNet/7742985100/metrics.json
outputs/ImageNet/7751241963/metrics.json
outputs/ImageNet/7760153861/metrics.json
outputs/ImageNet/7804521433/metrics.json
outputs/ImageNet/7862915954/metrics.json
outputs/ImageNet/7909180771/metrics.json
outputs/ImageNet/7950895109/metrics.json
outputs/ImageNet/7954934992/metrics.json
outputs/ImageNet/8024817417/metrics.json
outputs/ImageNet/8025972441/metrics.json
outputs/ImageNet/8032107065/metrics.json
outputs/ImageNet/8050502918/metrics.json
outputs/ImageNet/8104636267/metrics.json
outputs/ImageNet/8145092866/metrics.json
outputs/ImageNet/8145687555/metrics.json
outputs/ImageNet/8170692562/metrics.json
outputs/ImageNet/8212847533/metrics.json
outputs/ImageNet/8227680890/metrics.json
outputs/ImageNet/8242092425/metrics.json
outputs/ImageNet/8268617618/metrics.json
outputs/ImageNet/8270120107/metrics.json
outputs/ImageNet/8284107719/metrics.json
outputs/ImageNet/8353521742/metrics.json
outputs/ImageNet/8363707358/metrics.json
outputs/ImageNet/8427831868/metrics.json
outputs/ImageNet/8450801319/metrics.json
outputs/ImageNet/8497209361/metrics.json
outputs/ImageNet/8630678691/metrics.json
outputs/ImageNet/8691908078/metrics.json
outputs/ImageNet/8906102986/metrics.json
outputs/ImageNet/8914093460/metrics.json
outputs/ImageNet/8921310272/metrics.json
outputs/ImageNet/8945350399/metrics.json
outputs/ImageNet/9030533386/metrics.json
outputs/ImageNet/9103526685/metrics.json
outputs/ImageNet/9167617433/metrics.json
outputs/ImageNet/9221522395/metrics.json
outputs/ImageNet/9300687576/metrics.json
outputs/ImageNet/9395367634/metrics.json
outputs/ImageNet/9406039947/metrics.json
outputs/ImageNet/9411034560/metrics.json
outputs/ImageNet/9510742557/metrics.json
outputs/ImageNet/9528830550/metrics.json
outputs/ImageNet/9597434933/metrics.json
outputs/ImageNet/9710887696/metrics.json
outputs/ImageNet/9801019629/metrics.json
outputs/ImageNet/9805591959/metrics.json
outputs/ImageNet/9823969579/metrics.json
outputs/ImageNet/9842046154/metrics.json
outputs/ImageNet/9865037138/metrics.json
outputs/ImageNet/9874030526/metrics.json
outputs/ImageNet/9988711444/metrics.json
outputs/wandb/debug-cli.guy_b.log
outputs/wandb/debug-internal.log
outputs/wandb/debug.log
outputs/wandb/latest-run
outputs/wandb/run-20240701_164401-3d9dfhve/run-3d9dfhve.wandb
outputs/wandb/run-20240701_164401-3d9dfhve/files/conda-environment.yaml
outputs/wandb/run-20240701_164401-3d9dfhve/files/config.yaml
outputs/wandb/run-20240701_164401-3d9dfhve/files/output.log
outputs/wandb/run-20240701_164401-3d9dfhve/files/requirements.txt
outputs/wandb/run-20240701_164401-3d9dfhve/files/wandb-metadata.json
outputs/wandb/run-20240701_164401-3d9dfhve/files/wandb-summary.json
outputs/wandb/run-20240701_164401-3d9dfhve/logs/debug-internal.log
outputs/wandb/run-20240701_164401-3d9dfhve/logs/debug.log
outputs/wandb/run-20240701_164656-wnb0nb4r/run-wnb0nb4r.wandb
outputs/wandb/run-20240701_164656-wnb0nb4r/files/conda-environment.yaml
outputs/wandb/run-20240701_164656-wnb0nb4r/files/config.yaml
outputs/wandb/run-20240701_164656-wnb0nb4r/files/output.log
outputs/wandb/run-20240701_164656-wnb0nb4r/files/requirements.txt
outputs/wandb/run-20240701_164656-wnb0nb4r/files/wandb-metadata.json
outputs/wandb/run-20240701_164656-wnb0nb4r/logs/debug-internal.log
outputs/wandb/run-20240701_164656-wnb0nb4r/logs/debug.log
outputs/wandb/run-20240701_164758-zc8jqnss/run-zc8jqnss.wandb
outputs/wandb/run-20240701_164758-zc8jqnss/files/conda-environment.yaml
outputs/wandb/run-20240701_164758-zc8jqnss/files/config.yaml
outputs/wandb/run-20240701_164758-zc8jqnss/files/output.log
outputs/wandb/run-20240701_164758-zc8jqnss/files/requirements.txt
outputs/wandb/run-20240701_164758-zc8jqnss/files/wandb-metadata.json
outputs/wandb/run-20240701_164758-zc8jqnss/logs/debug-internal.log
outputs/wandb/run-20240701_164758-zc8jqnss/logs/debug.log
outputs/wandb/run-20240701_164901-q1ftcvy0/run-q1ftcvy0.wandb
outputs/wandb/run-20240701_164901-q1ftcvy0/files/conda-environment.yaml
outputs/wandb/run-20240701_164901-q1ftcvy0/files/config.yaml
outputs/wandb/run-20240701_164901-q1ftcvy0/files/output.log
outputs/wandb/run-20240701_164901-q1ftcvy0/files/requirements.txt
outputs/wandb/run-20240701_164901-q1ftcvy0/files/wandb-metadata.json
outputs/wandb/run-20240701_164901-q1ftcvy0/files/wandb-summary.json
outputs/wandb/run-20240701_164901-q1ftcvy0/logs/debug-internal.log
outputs/wandb/run-20240701_164901-q1ftcvy0/logs/debug.log
outputs/wandb/run-20240701_164926-pf7l7xld/run-pf7l7xld.wandb
outputs/wandb/run-20240701_164926-pf7l7xld/files/conda-environment.yaml
outputs/wandb/run-20240701_164926-pf7l7xld/files/config.yaml
outputs/wandb/run-20240701_164926-pf7l7xld/files/output.log
outputs/wandb/run-20240701_164926-pf7l7xld/files/requirements.txt
outputs/wandb/run-20240701_164926-pf7l7xld/files/wandb-metadata.json
outputs/wandb/run-20240701_164926-pf7l7xld/logs/debug-internal.log
outputs/wandb/run-20240701_164926-pf7l7xld/logs/debug.log
source_dataset_training/__pycache__/resnet.cpython-39.pyc

